<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="author" content="Patrick Allain"/>
    <meta name="description"
          content="A presentation of a modern template engine to make your front simple than ever !"/>

    <title>Flowtime.js</title>

    <link rel="stylesheet" th:href="'/flowtime/assets/css/reset.css'" href="../../static/flowtime/assets/css/reset.css"/>
    <link rel="stylesheet" th:href="'/flowtime/css/flowtime.css'" href="../../static/flowtime/css/flowtime.css"/>
    <link rel="stylesheet" th:href="'/flowtime/css/themes/default.css'" href="../../static/flowtime/css/themes/default.css"/>
    <link rel="stylesheet" th:href="'/flowtime/assets/css/prism-okaidia.css'" href="../../static/flowtime/assets/css/prism-okaidia.css"/>

    <!--<script type="text/javascript" th:src="'/jquery-2.1.4.min.js'" src="../../static/jquery-2.1.4.min.js"></script>-->
    <!--<link rel="stylesheet" th:href="'highlight.js-9.0.0/src/styles/github.css'" href="../../static/highlight.js-9.0.0/src/styles/github.css"/>-->
    <!--<script th:src="'/highlight.js-9.0.0/src/highlight.js'" src="../../static/highlight.js-9.0.0/src/highlight.js"></script>-->
</head>
<body>
<div class="flowtime">
    <!--@thymesVar id="sections" type="java.util.List<fr.patouche.slides.SlideSection>"-->
    <!--@thymesVar id="section" type="fr.patouche.slides.SlideSection"-->
    <!--@thymesVar id="page" type="fr.patouche.slides.SlidePage"-->
    <div th:each="section : ${sections}" class="ft-section"
         th:attr="data-id='section-'+${section.index}" data-id="section-1" >

        <div th:each="page : ${section.pages}" class="ft-page"
             th:id="'/section-' + ${section.index} + '/page-' + ${page.index}" id="/section-1/page-1"
             th:attr="data-id='page-' + ${page.index}" data-id="page-1" th:utext="${page.content}">

            <h1>Title</h1>
            <h3>Subtitle</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc auctor eleifend magna et posuere.
                Nullam blandit molestie diam, et lacinia nisi condimentum vel.
                Nam pellentesque aliquam neque non pulvinar.
                Mauris vel molestie lorem.
                In hac habitasse platea dictumst.
            </p>

        </div>

    </div>
</div>
<script th:src="'/flowtime/js/brav1toolbox.js'" src="../../static/flowtime/js/brav1toolbox.js" type="text/javascript"></script>
<script th:src="'/flowtime/js/flowtime.js'" src="../../static/flowtime/js/flowtime.js" type="text/javascript"></script>
<script th:src="'/flowtime/assets/js/prism.js'" src="../../static/flowtime/assets/js/prism.js"></script>
<script type="text/javascript">
    // Configuration API test
    Flowtime.showProgress(true);
    // Flowtime.fragmentsOnSide(true);
    // Flowtime.fragmentsOnBack(true);
    // Flowtime.useHistory(false);
    // Flowtime.slideInPx(true);
    // Flowtime.sectionsSlideToTop(true);
    // Flowtime.backFromPageToTop(true);
    // Flowtime.gridNavigation(false);
    // Flowtime.useOverviewVariant(true);
    Flowtime.parallaxInPx(true);
    // Flowtime.addEventListener("flowtimenavigation", onNavigation, false);
    // Flowtime.onNavigation(onNavigation);
    Flowtime.start();
</script>
</body>
</html>