<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{presentation.title}">Title</title>
    <meta name="description" th:content="#{presentation.description}" content="description"/>
    <meta name="author" th:content="#{presentation.author}" content="author"/>
    <link rel="stylesheet" th:href="@{/bootstrap/3.3.6/css/bootstrap.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/3.3.6/css/bootstrap-theme.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <script th:src="@{/jquery/2.1.4/jquery.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/bootstrap/3.3.6/js/bootstrap.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="collapse navbar-collapse">
                <a class="navbar-brand">Demo</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/slides}" href="reveal-th.html">Slides</a>
                    </li>
                    <li>
                        <a th:href="@{/}" href="demo-th.html">Demo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--@thymesVar id="slide" type="fr.patouche.slides.SlideSection"-->
    <h1 th:text="#{demo.detail.title(${slide.fileName})}">Title</h1>
    <div class="container" th:utext="${slide.content}">Content</div>
</div>

</body>
</html>